* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../Image/bts-image.jpg");
    overflow:scroll;
    background-position: center;
}

.formation {
    color: black;
    text-align: center;
}

.formation .Slam {
    position : absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width : 600px;
    height: 400px;
    background-color : rgb(211,211,211,0.6);
    border-radius: 25%;}

.formation .Sisr {
    position : absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width : 600px;
    height: 400px;
    background-color : rgb(211,211,211,0.6);
    border-radius: 25%;
}

.cv .text{
    text-align: center;
}

.cv .image{
    width: 1414px;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.cv .download {
    width: 120px;
    height: 50px;
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}

.doc_texte {
    text-align: center;
}